{{!-- whatever is going into the "body" will be in home.handlebars --}}
{{!-- 
1- navigation bar
2- navigate to "home - landing page", "saved articles route", "scrape new articles"
3 - add scripts (jquery, index.js) - populate articles unto page

 --}}

 <h1>hello world</h1>