{{!-- nav bar --}}
<nav class="navbar navbar-expand-md navbar-dark bg-info py-3">
        <a class="navbar-brand" href="#"><i class="far fa-newspaper mr-2 d-none d-sm-inline"></i>Mongo Scraper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/saved">Saved Articles</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3 text-center">Mongo Scraper</h1>
            <p class="lead text-center">Provided by New York Times</p>
        </div>
    </div>

{{!-- article container --}}
    <div class="container-fluid article-container">

    </div>

{{!-- footer --}}
<div class="footer">
    <div class="container">
        <h4>Mongo Scraper (New York Times)</h4>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="../public/assets/js/index.js"></script>