{{!-- NAV BAR --}}
<nav class="navbar navbar-expand-md navbar-dark bg-dark py-3">
        <div class="navbar-brand">Mongo Scraper</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/saved">Saved Articles</a>
                </li>

                <li class="nav-item">
                    <a href="/scrape"><button class="btn btn-success" id="scrape-new">Scrape New Articles</button></a>
                </li>

                 <li class="nav-item">
                    <a href="/clear"><button class="btn btn-danger" id="clear-articles">Clear Articles</button></a>
                </li>
            </ul>
        </div>
</nav>


      <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
          <h1 class="display-3">Mongo Scraper</h1>
          <p class="lead">The New York Times</p>
        </div>
      </div>


    <div class="container">
      <div class="col-lg-12" id="articles">
        {{#each articles}}
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-8">
                <div class="card-title">
                  <a href={{this.link}}>
                    <h2>
                      {{this.headline}}
                    </h2>
                  </a>
                </div>
                {{!-- add logic for if author exists --}}
                {{#if this.author}}
                <h5>{{this.author}}</h5>
                {{/if}}
                <p>
                  {{this.description}}
                </p>
              </div>
            </div>
          </div>
        </div>
        <br>
        {{/each}}      
      </div>
    </div>
  </div>

{{!-- FOOTER --}}

<footer class="footer">
  <div class="container">
    <p>New York Times Mongo Scraper</p>
  </div>
</footer>