{{!-- NAV BAR --}}
<nav class="navbar navbar-expand-md navbar-dark bg-dark py-3">
        <div class="navbar-brand">Mongo Scraper</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/saved">Saved Articles</a>
                </li>

                <li class="nav-item">
                    <a href="/scrape"><button class="btn btn-success" id="scrape-new">Scrape New Articles</button></a>
                </li>

                 <li class="nav-item">
                    <a href="/clear"><button class="btn btn-danger" id="clear-articles">Clear Articles</button></a>
                </li>
            </ul>
        </div>
</nav>



    <div class="jumbotron text-center">
      <div class="container">
        <div class="background-image"></div>
        <h1 class="display-3">Mongo Scraper</h1>
        <h4 class="lead">The New York Times</h4>
      </div>
    </div>



    <div class="container">
      <div class="col-lg-12" id="articles">
        {{#each articles}}
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-8">
                <div class="card-title">
                  <a href={{this.link}}>
                    <h2>
                      {{this.headline}}
                    </h2>
                  </a>
                </div>
                {{!-- add logic for if author exists --}}
                {{#if this.author}}
                <h5>{{this.author}}</h5>
                {{/if}}
                <p>
                  {{this.description}}
                </p>
              </div>
            </div>
          </div>
        </div>
        <br>
        {{/each}}      
      </div>
    </div>
  </div>

{{!-- FOOTER --}}

<footer class="footer">
  <div class="container">
    <p>New York Times Mongo Scraper</p>
  </div>
</footer>

    



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/app.js"></script>