{{!-- 
1- my saved articlies page
2- nav bar to go back to home
3- container to hold all articles scraped
4- footer
5- add scripts (jquery, saved.js) - allows articles to be saved


 --}}

 <h1>saved</h1>